* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #1f8c5b;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 0 2%;
  }
  input[name="dot"] {
    display: none;
  }
  
